* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.navbar {
  width: 100%;
  padding: 20px 40px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
}

.logo,
.nav-links,
.user-name {
  display:inline-table;
  vertical-align: middle;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #222;
  width: 15%;
}

.nav-links {
  width: 60%;
  text-align: center;
}

.nav-links li {
  display: inline-block;
  margin: 0 18px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #222;
  font-size: 18px;
}

.user-name {
  width: 15%;
  text-align:right;
  font-size: 18px;
  font-weight: 400;
  color: #0905eb;
  
}

.hero {
  height: 88vh;
  width: 100%;
  padding: 40px;
  background: #f8f8f8;
}

.hero-left,
.hero-right {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.hero-left {
  width: 48%;
  padding-right: 30px;
}

.hero-left h1 {
  font-size: 52px;
  color: #111;
  margin-bottom: 20px;
  margin-top: 80px;
}

.hero-left p {
  font-size: 18px;
  line-height: 1.7;
  color: #444;
  margin-bottom: 30px;
  max-width: 500px;
}

.btn {
  display: inline-block;
  padding: 14px 28px;
  background: #111;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-size: 16px;
}

.hero-right {
  width: 50%;
  text-align: center;
}

.hero-right img {
  width: 90%;
  height: 75vh;
  object-fit: cover;
  border-radius: 12px;
}